.message {
    display: flex;
    align-items: center;
    gap: calc-rem(10px);
    min-width: calc-rem(100px);
    max-width: calc-rem(500px);
    width: fit-content;
    height: fit-content;
    border-radius: calc-rem(15px);
    padding: calc-rem($basePadding);

    &.left-side {
        border-bottom-left-radius: 2px;
        margin-right: auto;
        background-color: lightgray;
    }

    &.right-side {
        border-bottom-right-radius: 2px;
        margin-left: auto;
        background-color: rgba(gray, .7);
    }

    &__text {
    }

    &__image {
        position: relative;

        &-picture {
            max-width: 150px;
            max-height: 150px;
            border-radius: calc-rem(15px);
        }

        &-full-size {
            @include transit('transform');
            position: absolute;
            top: 0;
            right: 0;
            background-color: lightgray;
            border-bottom-left-radius: calc-rem(5px);
            cursor: pointer;

            @include hover() {
                transform: scale(1.1);
            }
        }
    }
}
